<section appFadeIn id="introArt">
    <div id="aboutMe">
        <h1>hello, i'm justin.</h1>
        <h2>a&nbsp;<a href="https://www.linkedin.com/in/justin-peretz-a643aa175/">first year student</a>&nbsp;at northwest kansas technical college</h2>
        <h3>studying crypto applications and cloud computing.</h3>
    </div>
    <img id="portrait" src="../../assets/logo.png" alt="">
</section>
    <div id="moreInfo">
        <p>i love creating tools that are user friendly, simple, and easy to look at. </p>

        <p>i'm currently a student at northwest kansas technical college where i will spend the next 2 years studying the fundamentals of fullstack web development. i plan on working at Goodland Tech where i will master my skills and grow out of the junior developer role into a more sustainable and efficient developer.</p>

        <p>through these experiences i have had the opportunity to work with both small and large, specialized and cross-functional teams across different time zones, softwares, and medias while developing a working style that leans towards flexibility, clarity and collaboration.</p>

        <p>i'm currently looking for opportunities to grow my skills as a developer. hire me?</p>
    </div>
    <img id="kansas" src="../../assets/kansas.JPG" alt="">

